rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to read and write files without any restrictions
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
